In [1]:
import sc2ts
import tszip
import numpy as np
import pandas as pd

In [7]:
ts = tszip.load("../data/sc2ts_viridian_v1.2.trees.tsz")

In [16]:
dfn = sc2ts.node_data(ts).set_index("node_id")

In [29]:
dfn["time"] = ts.nodes_time
dfn

,pango,sample_id,scorpio,is_sample,is_recombinant,num_mutations,date,time
node_id,,,,,,,,
0,B,Vestigial_ignore,.,False,False,0,2019-11-23,1186.228583
1,B,Wuhan/Hu-1/2019,.,False,False,0,2019-12-26,1153.000000
2,A,SRR11772659,.,True,False,1,2020-01-19,1129.000000
3,B,SRR11397727,.,True,False,0,2020-01-24,1124.000000
4,B,SRR11397730,.,True,False,0,2020-01-24,1124.000000
...,...,...,...,...,...,...,...,...
2747980,BA.2.1,,Omicron (BA.2-like),False,False,1,2022-01-03,414.988112
2747981,CH.1.1,,Omicron (BA.2-like),False,False,1,2022-09-28,146.324039
2747982,BA.5.1,,Omicron (BA.5-like),False,False,2,2022-05-31,266.203615
2747983,BU.1,,Omicron (BA.5-like),False,False,4,2022-06-13,253.553625
2747984,AY.44,,Delta (B.1.617.2-like),False,False,2,2021-06-15,616.035311

In [34]:
dfn_pango = dfn.reset_index().sort_values("time", ascending=False).groupby(["pango"]).first()
dfn_pango

,node_id,sample_id,scorpio,is_sample,is_recombinant,num_mutations,date,time
pango,,,,,,,,
A,9,,.,False,False,2,2019-12-26,1153.000000
A.1,227,,.,False,False,2,2020-01-19,1129.000000
A.2,530,,.,False,False,4,2020-02-01,1116.000000
A.2.2,1190,,.,False,False,1,2020-02-26,1091.109256
A.2.3,1186,,.,False,False,2,2020-02-21,1096.465780
...,...,...,...,...,...,...,...,...
XW,1159411,,Omicron (BA.2-like),False,True,1,2022-03-10,348.300416
XY,1187989,,Omicron (Unassigned),False,True,2,2022-03-16,342.625280
XZ,1163537,,Omicron (BA.2-like),False,False,1,2022-03-05,353.377858
Y.1,55861,,.,False,False,1,2020-08-18,917.000000
Z.1,30483,ERR4664951,.,True,False,3,2020-09-15,889.000000

In [43]:
alpha_origin = dfn_pango.loc["B.1.1.7"]
alpha_origin

node_id                          86456
sample_id
scorpio           Alpha (B.1.1.7-like)
is_sample                        False
is_recombinant                   False
num_mutations                       36
date               2020-09-23 00:00:00
time                        881.613313
Name: B.1.1.7, dtype: object

In [46]:
tree = ts.first()
u = alpha_origin["node_id"]
path = []
while u != -1:
    path.append(u)
    u = tree.parent(u)
dfn.iloc[path]

,pango,sample_id,scorpio,is_sample,is_recombinant,num_mutations,date,time
node_id,,,,,,,,
86456,B.1.1.7,,Alpha (B.1.1.7-like),False,False,36,2020-09-23,881.613313
4552,B.1.1,,.,False,False,3,2020-02-03,1114.859379
98,B.1.1,,.,False,False,3,2020-01-28,1120.000555
59,B.1,,.,False,False,1,2020-01-28,1120.059657
12,B.1,SRR11597205,.,True,False,2,2020-01-28,1120.059657
27,B,,.,False,False,1,2019-12-26,1153.000000
1,B,Wuhan/Hu-1/2019,.,False,False,0,2019-12-26,1153.000000

In [40]:
dfm = sc2ts.mutation_data(ts).set_index("node")
dfm

,mutation_id,site_id,position,parent,inherited_state,derived_state,date
node,,,,,,,
644280,0,24,25,-1,T,A,2021-09-20
12915,1,37,38,-1,A,G,2020-04-21
344292,2,42,43,-1,T,A,2021-07-17
427855,3,42,43,-1,T,C,2021-07-25
670767,4,42,43,-1,T,C,2021-08-21
...,...,...,...,...,...,...,...
691821,2285339,29839,29850,-1,A,G,2021-10-18
719257,2285340,29839,29850,-1,A,G,2021-10-21
952268,2285341,29839,29850,-1,A,G,2021-12-13
1129360,2285342,29839,29850,-1,A,G,2022-01-08
1112507,2285343,29839,29850,-1,A,G,2022-02-04

In [47]:
dfm.loc[alpha_origin["node_id"]]

,mutation_id,site_id,position,parent,inherited_state,derived_state,date
node,,,,,,,
86456,160960,910,913,-1,C,T,2020-05-29
86456,472353,5385,5388,-1,C,A,2020-05-29
86456,507747,5983,5986,-1,C,T,2020-05-29
86456,575045,6951,6954,-1,T,C,2020-05-29
86456,812756,11282,11288,-1,T,-,2020-05-29
86456,812805,11283,11289,-1,C,-,2020-05-29
86456,812923,11284,11290,-1,T,-,2020-05-29
86456,813004,11285,11291,-1,G,-,2020-05-29
86456,813082,11286,11292,-1,G,-,2020-05-29
86456,813200,11287,11293,-1,T,-,2020-05-29
86456,813299,11288,11294,-1,T,-,2020-05-29
86456,813396,11289,11295,-1,T,-,2020-05-29
86456,813465,11290,11296,-1,T,-,2020-05-29
86456,988872,14670,14676,-1,C,T,2020-05-29
86456,1017218,15273,15279,-1,C,T,2020-05-29
86456,1058632,16169,16176,-1,T,C,2020-05-29
86456,1376533,21756,21765,-1,T,-,2020-05-29
86456,1378903,21757,21766,-1,A,-,2020-05-29
86456,1381172,21758,21767,-1,C,-,2020-05-29
86456,1382119,21759,21768,-1,A,-,2020-05-29
86456,1382846,21760,21769,-1,T,-,2020-05-29
86456,1383629,21761,21770,-1,G,-,2020-05-29
86456,1417048,21982,21991,-1,T,-,2020-05-29
86456,1419884,21983,21992,-1,T,-,2020-05-29
86456,1422765,21984,21993,-1,A,-,2020-05-29
86456,1521333,23054,23063,-1,A,T,2020-05-29
86456,1532177,23262,23271,-1,C,A,2020-05-29
86456,1554236,23595,23604,-1,C,A,2020-05-29
86456,1564585,23700,23709,-1,C,T,2020-05-29
86456,1614751,24497,24506,-1,T,G,2020-05-29
86456,1634436,24905,24914,-1,G,C,2020-05-29
86456,1936829,27962,27972,-1,C,T,2020-05-29
86456,1946180,28038,28048,-1,G,T,2020-05-29
86456,1960007,28101,28111,-1,A,G,2020-05-29
86456,1980201,28261,28271,-1,A,-,2020-05-29
86456,2063144,28967,28977,-1,C,T,2020-05-29